<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>product-edit</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="productForm"  (ngSubmit)="onFormSubmit(productForm.value)">

    <ion-item>
      <ion-label position="floating">Nombre del Producto</ion-label>
      <ion-input type="text" [(ngModel)]="producto.nombreprod" formControlName="nombreprod"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="number" [(ngModel)]="producto.precio" formControlName="precio"></ion-input>
    </ion-item>
    
 
    
    <ion-item>
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input type="number" [(ngModel)]="producto.cantidad" formControlName="Cantidad"></ion-input>
    </ion-item>
    
    <ion-button type="submit" shape="round" color="primary" expand="block" [disabled]="!productForm.valid">Agregar</ion-button>
  </form>
</ion-content>

