<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <!--  <ion-label>Inicio</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="product">
      <ion-icon name="cart-outline"></ion-icon>
      <!--  <ion-label>Producto</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="taller">
      <ion-icon name="storefront-outline"></ion-icon>
       <!-- <ion-label>Taller</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="calendary">
      <ion-icon name="calendar-outline"></ion-icon>
      <!-- <ion-label>Calendario</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="auto">
      <ion-icon name="car-outline"></ion-icon>
      <!--  <ion-label>Admin</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="menu-sharp"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>