<ion-menu side="end" contentId="main-content" mode="ios">
  
  <ion-header mode="ios">
    <ion-toolbar>
      <ion-title>{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

    
    <div class="profile-menu" *ngIf="!image">
      <ion-icon name="person-circle-outline" class="image-profile"></ion-icon>
      <ion-text class="name-profile">{{userName}}</ion-text>
    </div>

    <div class="profile-menu" *ngIf="image">
      <!-- Imagen del usuario -->
      <ion-text class="name-profile">{{userName}}</ion-text>
    </div>




    <ion-list lines="full" class="menu-options">
      <ion-item>
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        <ion-label>Informacion Personal</ion-label>
      </ion-item>
      
      <ion-item>
        <ion-icon slot="start" name="cog-outline"></ion-icon>       
        <ion-label>Settings</ion-label>
      </ion-item>
    
    </ion-list>
  </ion-content>

  <ion-footer>
    
      <ion-button
      mode="ios"
      color="danger"
      class="exit-button" 
      expand="block"
      (click)="signOut()">Cerrar sesion
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
  </ion-footer>

</ion-menu>



<div class="ion-page" id="main-content">
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="product">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="taller">
        <ion-icon name="storefront-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="calendario">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="admin">
        <ion-icon name="car-outline"></ion-icon>
      </ion-tab-button>


      <ion-tab-button (click)="openMenu()">
        <ion-icon name="menu"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</div>