<ion-header [translucent]="true">
  <ion-toolbar style="--background: black;">
    <img src="assets/img/logo-musu.png" alt="Logo" class="logo-musu"
      style="height: 40px; position: absolute;top: 10px; left: 350px; ">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">productos</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-card-content class="contenedor">
      <img src="assets/img/icono_producto.png" alt="Logo" class="estilo-imagen">
      <div class="texto">
        <ion-card-title>Productos</ion-card-title>
        <p>
          Administra tus productos en venta y en almacén. Agrega, elimina o
          modifica artículos. Gestiona las secciones de tu Tienda y visualiza una
          lista de repuestos pendientes de compra para el taller.
        </p>
      </div>
    </ion-card-content>
  </ion-card>


  <div class="card-container">
    <ion-card>
      <ion-card-content>
        <img src="assets/img/agregar-producto.png" alt="Logo" class="estilo-producto">
      </ion-card-content>
      <ion-button class="boton-agregar" [routerLink]="['/product-add']" fill="clear">agregar producto </ion-button>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <img src="assets/img/repuestos.png" alt="Logo" class="estilo-producto">
      </ion-card-content>
      <p>Repuestos a comprar</p>
    </ion-card>


    <ion-card>
      <ion-card-content>
        <img src="assets/img/agregar.png" alt="Logo" class="estilo-producto">
      </ion-card-content>
      <p>Agregar sección</p>
    </ion-card>
  </div>


  <div class="container-search">
    <ion-card>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-select label="Ordenar por:" interface="popover" placeholder="Seleccionar" [(ngModel)]="selectedOption" (ionChange)="redirectToProductList()">
              <ion-select-option value="mayor-valor">lista de productos</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-card-content>

      <ion-searchbar show-cancel-button="focus" class="custom" placeholder="Buscar"></ion-searchbar>

    </ion-card>
  </div>


<ion-card>
  <ion-card-content class="contenedor-product">
  <img src="assets/img/BUJIAS.png" alt="Logo" class="estilo-imagen">
  <div class="texto-product">
  <ion-card-subtitle>NGK</ion-card-subtitle>
  <ion-card-title>Bujías de Moto NGK D8EA</ion-card-title>
    <p>
      Bujías de Moto NGK cumplen una función vital en el motor...
    </p>
  <ion-item>         
  <div class="icon-container">
  <ion-icon name="remove-circle" (click)="disminuir()"></ion-icon>
  <div class="cantidad">{{ cantidad }}</div>
  <ion-icon name="add-circle" (click)="aumentar()"></ion-icon>
  <label for=>$12.000</label>
  </div>
  </ion-item>
  </div>
  </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-card-content class="contenedor-product">
    <img src="assets/img/cubre-carter.png" alt="Logo" class="estilo-imagen">
    <div class="texto-product">
    <ion-card-subtitle>SUSUKI</ion-card-subtitle>
    <ion-card-title>Cubre Carter Suzuki DR 650</ion-card-title>
      <p>
        Fabricado en aluminio, Pintura industrial electrostática...
      </p>
    <ion-item>         
    <div class="icon-container">
    <ion-icon name="remove-circle" (click)="disminuir()"></ion-icon>
    <div class="cantidad">{{ cantidad }}</div>
    <ion-icon name="add-circle" (click)="aumentar()"></ion-icon>
    <label for=>$32.000</label>
    </div>
    </ion-item>
    </div>
    </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-content class="contenedor-product">
      <img src="assets/img/faro-izquierdo.png" alt="Logo" class="estilo-imagen">
      <div class="texto-product">
      <ion-card-subtitle>KIA</ion-card-subtitle>
      <ion-card-title>Optico Izquierdo Kia Rio 3 2015 2018</ion-card-title>
        <p>
          El óptico izquierdo para el Kia Rio 3, abarcando los años 2015 a 2018...
        </p>
      <ion-item>         
      <div class="icon-container">
      <ion-icon name="remove-circle" (click)="disminuir()"></ion-icon>
      <div class="cantidad">{{ cantidad }}</div>
      <ion-icon name="add-circle" (click)="aumentar()"></ion-icon>
      <label for=>$122.000</label>
      </div>
      </ion-item>
      </div>
      </ion-card-content>
      </ion-card>





  
  
</ion-content>