<app-header title="CALENDARIO"></app-header>

<ion-content>
  <div class="d-flex-cener p-2">

    <!-- calendario.page.html -->

    <ion-datetime presentation="date" [highlightedDates]="highlightedDates" (ionChange)="onDateClick($event)"></ion-datetime>
  
        <ion-button 
          class="ion-margin.top" 
          [routerLink]="['/localizacion']" 
          expand="block"
          mode="ios">
            Conoce tu Ubicacion
            <ion-icon name="map-sharp" slot="end"></ion-icon>
        </ion-button>
            
        <ion-button 
          class="ion-margin-top" 
          [routerLink]="['/map']"
          expand="block"
          mode="ios">¿Cómo llegar?
          
            
            <ion-icon name="location-sharp" slot="end"></ion-icon>
        </ion-button>
      
  </div>
      

</ion-content>
