<ion-content [fullscreen]="true" background="red">
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
  <mat-slider>
    <input matSliderThumb>
  </mat-slider>


  <ion-card>
    <ion-card-content>Error 404</ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-content>Error 404</ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-content>Error 404</ion-card-content>
  </ion-card>
  
  <ion-button (click)="play();">Play</ion-button>
  <ion-button (click)="pause();">Pause</ion-button>
  <ion-button (click)="stop();">Stop</ion-button>
</ion-content>


