#container {
    text-align: center; /* Centra el contenido horizontalmente */
  }
  
  .custom-button {
    /* Agrega estilos personalizados para el botón */
    margin-top: 10px; /* Espacio superior */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    font-size: 18px; /* Tamaño del texto */
    border: none; /* Sin borde */
  }
  
  
  