<app-header subtitle="A D M I N" backButton="/auth">
</app-header>

<ion-content>
  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form">

      <app-custom-input 
        icon="person-outline"
        label="Nombre"
        placeholder="Ingrese su nombre"
        type="text"
        [control]="form.controls.name">
      </app-custom-input>

      <app-custom-input
        icon="mail-outline"
        label="Email"
        placeholder="Ingrese su correo..."
        type="email"
        [control]="form.controls.email">
      </app-custom-input>

      <app-custom-input
        label="Contraseña"
        placeholder="Ingrese su contraseña..."
        type="password"
        icon="lock-closed-outline"
        [control]="form.controls.password">
      </app-custom-input>

      <ion-button expand="block" mode="ios" class="submit" type="submit">
        Registrate
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>

    </form>
  </div>
</ion-content>
