
<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>    
    </ion-tab-button>

    <ion-tab-button tab="productos">
    <ion-icon name="cart"></ion-icon>    
    </ion-tab-button>

    <ion-tab-button tab="reserva">
    <ion-icon name="storefront"></ion-icon>     
    </ion-tab-button>

    <ion-tab-button tab="calendario">
    <ion-icon name="calendar"></ion-icon>      
    </ion-tab-button>

    <ion-tab-button tab="usuarios">
      <ion-icon name="car-sport"></ion-icon>     
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="menu"></ion-icon>      
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>


