<ion-header [translucent]="true">
<ion-toolbar color="danger">
  <h3>Restablecer contraseña</h3>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="titulo-form">
  <img src="assets/img/logo-vertical-musu-performance-blanco.png" alt="logo" class="estilo-imagen" >  
  <h5>Por favor ingresa tu Email</h5>
</div>

  <div class="cuerpo-form">
  
  <ion-input class="estilo-correo" 
      label="Ingresa la dirección de correo de recuperación" 
      label-placement="stacked"    
      fill="outline">
    </ion-input>
    </div>


    <ion-button class="boton-ingresar" [routerLink]="['/home']" >Recuperar</ion-button>
</ion-content>
