<ion-content [fullscreen]="true" mode="ios">
  
  <div class="cont-recuperar">
    <div class="titulo-form">
      <h1 class="titulo">Recuperar contraseña</h1> 
      <p class="content">Ingresa tu correo para validar que tenga una cuenta de usuario creada.</p>
    </div>

    <div class="cuerpo-form"> 
      

      <ion-input class="estilo-correo" 
        type="email"
        label="Email"
        label-placement="stacked"   
        fill="outline"
        placeholder="Ingresa correo"
        [(ngModel)]="correo"
        mode="md">
      </ion-input>

      <!-- <ion-item fill="outline" mode="md">
        <ion-label position="stacked">Correo</ion-label>
        <ion-input 
          placeholder="Ingrese correo"
          ></ion-input>
      </ion-item>
     -->
    </div>
    
    <div class="mensaje-validacion" [hidden]="!mostrarMensajeCorreo">   
      <p>Ingresa una dirección de correo electrónico válida.</p>
    </div>
    
    <ion-button class="boton-ingresar" [routerLink]="['/home']" [disabled]="!correoValido" >Recuperar</ion-button>
  </div>
</ion-content>

