.titulo-form{
    text-align: center;
    padding-top: 90px;    
}


h3{
    margin-left: 20px;
}

.estilo-correo{
    color: red;
    --border-color: red;
    margin-top: 30px;  
    }


.boton-ingresar{
    --background: red!important;    
    padding-top: 20px;
    margin-left: 140px;
            }

.ocultar-label {
    display: none;
        }

.estilo-imagen{
    width: 40%;
        }
      