<app-header subtitle="A D M I N" backButton="/auth">
</app-header>

<ion-content>
  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form">

      <app-custom-input
        icon="mail-outline"
        label="Email"
        placeholder="Ingrese su correo..."
        type="email"
        [control]="form.controls.email">
      </app-custom-input>



      <ion-button expand="block" mode="ios" class="submit" type="submit">
        Recuperar
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>

    </form>
  </div>
</ion-content>
