.form-register {
    max-width: 300px; /* Ajusta el ancho máximo del formulario*/
    margin: 0 auto; /* Centra el formulario horizontalmente */
    padding: 20px;
  }
  
  .mi-input {
    border: 2px solid #858585;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    margin-bottom: 15px; /* Aumenta el espacio entre los campos de entrada */
  }
  
  .boton-registrarse {
    --background: red!important;
    margin-top: 20px; /* Añade espacio arriba del botón */
    text-align: center; /* Elimina esta propiedad */
    margin-left: 130px;
    justify-content: center; /* Centra los elementos horizontalmente */
  }
  
  
  .titulo-form {
    text-align: center;
    padding-top: 20px; /* Reduce el espacio sobre el título */
  }
  
  h1 {
    font-size: 20px;
    margin-bottom: 10px; /* Añade espacio debajo del título */
  }
  
  
  
  
