.form-register {
    max-width: 300px; /* Ajusta el ancho máximo del formulario*/
    margin: 0 auto; /* Centra el formulario horizontalmente */
    padding: 20px;
  }
  
  .mi-input {
    border: 2px solid;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    margin-bottom: 15px; /* Aumenta el espacio entre los campos de entrada */
  }
  
  .boton-registrarse {
    --background: red!important;
    margin-top: 20px; /* Añade espacio arriba del botón */
    text-align: center; /* Elimina esta propiedad */
    margin-left: 130px;
    justify-content: center; /* Centra los elementos horizontalmente */
  }
  
  
  .titulo-form {
    text-align: center;
    padding-top: 20px; /* Reduce el espacio sobre el título */
  }
  
  h1 {
    font-size: 20px;
    margin-bottom: 10px; /* Añade espacio debajo del título */
  }



  .mensaje-validacion {
    margin-top: 1px; /* Espaciado superior para separar del campo de entrada */
  }
  
  .mensaje-error {
    display: flex; /* Usar flexbox para alinear elementos */
    align-items: center; /* Alinear elementos verticalmente al centro */
    background-color: #f8d7da; /* Color de fondo para mensajes de error */
    border: 1px solid #721c24; /* Borde para mensajes de error */
    padding: 1px; /* Espaciado interno para mensajes de error */
    border-radius: 5px;
    margin-bottom: 5PX; /* Borde redondeado para mensajes de error */
  }
  
  .mensaje-icon {
    color: #721c24; /* Color del icono de error */
    font-size: 24px; /* Tamaño del icono de error */
    margin-right: 8px; /* Espaciado derecho para separar el icono del texto */
  }
  
  .mensaje-texto {
    color: #721c24; /* Color del texto de error */
    margin: 0;
    font-size: 10PX; /* Elimina el margen del texto de error */
  }
  
  
  
