.form-register{
    padding-top: 100px;
    padding-left: 10px;       
}

.mi-input {
    border: 2px solid #858585; 
    border-radius: 5px; 
    font-size: 16px; 
    color:black;
    margin-bottom: 9px;
   

  }

.boton-registrarse{
    --background: red!important;    
    padding-top: 20px;
    margin-left: 140px;
            }

.titulo-form{
    text-align: center;
    padding-top: 90px;   
}

h1 {
    font-size: 20px;
}

  
  
  
