<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Nuevo Usuario </ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="usuarioForm" (ngSubmit)="onFormSubmit(usuarioForm.value)">

    <ion-item>
      <ion-label position="floating">First_name</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.first_name" formControlName="usuario_first_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">last_name</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.last_name" formControlName="usuario_last_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">email</ion-label>
      <ion-input type="email" [(ngModel)]="usuario.email" formControlName="usuario_email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">clave</ion-label>
      <ion-input type="number" [(ngModel)]="usuario.clave" formControlName="usuario_clave"></ion-input>
    </ion-item>

    <ion-button type="submit" shape="round" color="primary" expand="block"
      [disabled]="!usuarioForm.valid">Submit</ion-button>
  </form>
</ion-content>
