ion-datetime{
    margin-left: 20px;
}

/* CSS personalizado en tu archivo de estilos */
 
/*card inicial */
.contenedor {
    display: flex;
    align-items: center;
  }
  
  .estilo-imagen {
    max-width: 100px;
    margin-right: 10px;
  }
  
  .texto {
    flex: 1;
  }
  
  .texto ion-card-title {
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
  }
  
  .texto p {  
  
    font-size: 10px;
    text-align: justify;
    font-weight: bold;
  }




.boton-registrarse{

  color: white;
  background-color: red;
}

.boton-registrarse {
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.boton-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icono {
  font-size: 1.5em;
  margin-right: 5px; /* Espacio entre el icono y el texto */
}

ion-card {
  max-width: 250px; /* Cambia el valor según tus preferencias */
  margin: auto; /* Centra el card en la pantalla */
  
}


























  