/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-content {
    --background: #f4f5f8;
}

ion-button {
    text-transform: none;
}

// safe padding for ios
.safe-p-bottom{
    padding-bottom: constant(safe-area-inset-bottom); // for ios 13+
    padding-bottom: env(safe-area-inset-bottom); // for previous ios versions
}

.submit {
    margin-top: 40px;
}

.empty {
    text-align: center;
    padding: 60px;
    opacity: 30%;

    ion-icon {
        font-size: 100px;
    }
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-auth-form {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    border-radius: 15px;
}


.custom-input {
    --border-color: #e0e0e0;
    --border-radius: 15px;
    --border-style: solid;
    --border-width: 1px;
    margin: 20px 0;

    ion-label {
        position: relative;
        bottom: 2px;
    }

    .eye-icon {
        position: relative;
        top: 13px;
    }
}

.validators {
    color: var(--ion-color-danger);
    font-size: 13px;
    text-align: center;
}


.auth-form {
    width: 100%;
    text-align: center;
    padding: 20px;
}

/*TODO: FORMAS GEOMETRICAS */
.circle {
    width: 100%;
    height: calc(width);
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
}


/*TODO: FORMATO LISTA PRODUCTO*/
.product-list {
    padding: 1rem;

    .product-item {
        border-radius: 20px;
        margin-top: 20px;
        
        ion-item {
            --background-hover: white;

        }
    
        ion-avatar {
            width: 70px;
            height: 80px;
            margin: 0 24px 0 24px;
            --border-radius: 15px;
        }

        .brand {
            font-size: 0.7rem;
            font-weight: bold;
            --color: #C6302C;
        }

        .name {
            font-size: 1.1rem;
            color: #000000;
            max-width: 95%;
            white-space: wrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .description {
            margin: 0.5rem 0 0.7rem;
            font-size: 0.8rem;
            max-width: 90%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: initial;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .metadata-top-end-wrapper {
            position: absolute;
            top: 10px;
            inset-inline-end: 10px;
            font-size: 0.7rem;
            display: flex;
            align-items: center;
            margin-right: 5%;
            padding: 0.3rem;
        }

        .metadata-top-end-wrapper ion-icon {
            padding-right: 5px;
        }

        .metadata-bottom-end-wrapper {
            display: flex;
            position: absolute;
            align-items: center;
            bottom: 10px;
            inset-inline-end: 10px;
            font-size: 0.8rem;
            margin-right: 5%;
            padding: 0.3rem;
        }
    
        .option-btn {
            font-size: 27px;
        }
    }
}

/* CONTROL CANTIDAD DE PRODUCTO*/
.control-cantidad {
    background-color: #D1D2D4;
    border-radius: 15px;
    width: 30%;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; /* Añade esta línea */

    ion-button {
        --padding-top: none;
        --padding-start: none;
        --padding-end: none;
        --padding-bottom: none;
        --border-radius: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    ion-icon {
        font-size: 1rem;
        color: black;
    }
    
    .circle-cantidad {
        background-color: #FAF7F7;
        border-radius: 50%;
        height: 30px; /* Ajusta la altura según sea necesario */
        width: 30px; /* Ajusta el ancho según sea necesario */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;   
    }

    ion-note {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


@media (min-width: 769px) {
    .auth-form {
        width: 500px;
    }

    .add-update-modal {
        --height: 680px;
    }
}

.p-2 {
    padding: 20px;
}
