<ion-item *ngIf="type !== 'textarea'" class="custom-input" line="none">
    <ion-icon 
      slot="start"
      color="primary"
      *ngIf="icon"
      [name]="icon">
    </ion-icon>
        
    <ion-input 
      labelPlacement="floating" 
      [label]="label" 
      [placeholder]="placeholder"
      [type]="type"
      [formControl]="control">
    </ion-input>
        
    <ion-button 
      slot="end"
      fill="clear"
      shape="round"
      *ngIf="isPassword"
      (click)="showOrHidePasswords()">
          
      <ion-icon 
        slot="icon-only"
        [name]="hide ? 'eye-off-outline' : 'eye-outline'">
      </ion-icon>
  
    </ion-button>
  
  </ion-item>
  
  <ion-item *ngIf="type === 'textarea'" class="custom-input" line="none">
    <ion-icon 
      slot="start"
      color="primary"
      *ngIf="icon"
      [name]="icon">
    </ion-icon>
  
    <ion-label
      position="floating">{{label}}</ion-label>
    <ion-textarea
      labelPlacement="floating"
      auto-grow="true"
      debounce="500"
      [placeholder]="placeholder"
      [formControl]="control">
    </ion-textarea>
  
  </ion-item>