  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <!-- Botón de retroceso -->
      <ion-back-button defaultHref="/home"></ion-back-button>
      <p>volver</p>
    </ion-toolbar>
  </ion-header>


<ion-card-content>
<ion-card>

      <ion-card color="primary">
      <ion-button class="boton-registrarse" [routerLink]="['/usuario-add']"  fill="clear" >Agregar usuario </ion-button>
      </ion-card>

      <ion-card color="secondary">       
      <ion-button class="boton-registrarse" [routerLink]="['/usuario-all']"  fill="clear" >todos los usuarios </ion-button>
      </ion-card>

      <ion-card color="danger">      
      <ion-button class="boton-registrarse" [routerLink]="['/usuario-list']"  fill="clear" >detalle usuario </ion-button>
      </ion-card>

      <ion-card color="success">       
      <ion-button class="boton-registrarse" [routerLink]="['/usuario-list']"  fill="clear" >editar usuario </ion-button>
      </ion-card>

      <ion-card color="warning">       
      <ion-button class="boton-registrarse" [routerLink]="['/usuario-list']"  fill="clear" >lista de usuario </ion-button>
      </ion-card>

      <ion-card color="success">       
      <ion-button class="boton-registrarse" [routerLink]="['/camara']"  fill="clear" >camara </ion-button>
      </ion-card>

      <ion-card color="primary">       
      <ion-button class="boton-registrarse" [routerLink]="['/localizacion']"  fill="clear" >geolocalizacion </ion-button>
      </ion-card>

      <ion-card color="primary">       
      <ion-button class="boton-registrarse" [routerLink]="['/product-add']"  fill="clear" >agregar producto </ion-button>
      </ion-card>

      <ion-card color="secondary">       
      <ion-button class="boton-registrarse" [routerLink]="['/product-all']"  fill="clear" >todos los productos </ion-button>
      </ion-card>

      <ion-card color="warning">       
      <ion-button class="boton-registrarse" [routerLink]="['/product-list']"  fill="clear" >detalle de productos </ion-button>
      </ion-card>

      <ion-card color="success">       
      <ion-button class="boton-registrarse" [routerLink]="['/product-list']"  fill="clear" >editar productos </ion-button>
      </ion-card>

      <ion-card color="danger">       
      <ion-button class="boton-registrarse" [routerLink]="['/product-list']"  fill="clear" >lista de productos </ion-button>
      </ion-card>



     
</ion-card>

</ion-card-content>
