<ion-content [fullscreen]="true">

<!-- <div class="cont-formulario">
  <ion-card>
    

    <div class="cuerpo-form">

      <ion-input
        type="email"
        label="Email"
        labelPlacement="floating"
        position="floating"
        [(ngModel)]="correo"
        (input)="validarCorreo()"
        placeholder="Ingresa correo">
      </ion-input>
      <div class="mensaje-validacion" [hidden]="!mostrarMensajeCorreo">
      <p>Ingresa una dirección de correo electrónico válida.</p>
      </div>

      

      <ion-input
        type="password"
        label="Contraseña"
        labelPlacement="floating"
        [(ngModel)]="contrasena"
        (input)="validarContrasena()"
        maxlength="8">
      </ion-input>
      <div class="mensaje-validacion" [hidden]="!mostrarMensaje">
      <p>La contraseña debe contener al menos 4 números, 3 caracteres y 1 mayúscula.</p>
      </div>

      

    </div>

    <div class="footer-form">
      
      <div class="fila-form">

        <ion-checkbox class="chkbox-recordar">Recordar</ion-checkbox>
        <ion-button  class="boton-recuperar-contraseña" [routerLink]="['/recuperar-password']" fill="clear" >¿Olvido su contraseña?</ion-button>

      </div>

      <ion-button class="boton-ingresar" [routerLink]="['/home']" [disabled]="!correoValido || !contrasenaValida">Ingresar</ion-button>
      <ion-button class="boton-registrarse" [routerLink]="['/registrarse']"  fill="clear" >Registrarse </ion-button>

      </div>
    </ion-card>
  </div> -->

<ion-grid>
  <ion-row>
    <ion-col>

      <div class="titulo-form">
        <h3>Iniciar Sesión </h3>
        <img src="assets/img/logo-vertical-musu-performance-blanco.png" alt="Logo" class="estilo-imagen">
      </div>

      <div class="body-form">

        <ion-list>
          <ion-item>
            <ion-input
              type="email"
              labelPlacement="stacked"
              placeholder="Enter text to see clear button"
              class="custom"
              >
              <div slot="label" class="title-label">Email</div>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input 
              type="email"
              class="custom"
              labelPlacement="floating"
              >
              <div slot="label" class="title-label">Email</div>
            </ion-input>
          </ion-item>
        </ion-list>
        
        <ion-input mode="ios"
          type="email"
          fill="solid"
          label="Email"
          class="custom"
          placeholder="Correo Electronico"
          labelPlacement="floating"
          ngModel
          email>
        </ion-input>

        <ion-input mode="ios"
          type="password"
          fill="solid"
          labelPlacement="floating"
          class="custom"
          label="Contraseña"
          placeholder="Contraseña"
          
          ngModel>
        </ion-input>

        <ion-input label="Default counter" labelPlacement="floating" [counter]="true" maxlength="20"></ion-input>

  <ion-input
    id="custom-input"
    label="Custom Counter Format"
    labelPlacement="floating"
    [counter]="true"
    maxlength="20"
  ></ion-input>
      </div>


    </ion-col>
  </ion-row>
</ion-grid>



</ion-content>

<style>
  {

  
  textLabel = selectClass("label-text")
  }
  </style>


