<ion-content [fullscreen]="true">

  <ion-grid mode="ios">
    <ion-row>
      <ion-col>

        <div class="titulo-form">
          <h3>Iniciar Sesión </h3>
          <img src="/assets/img/logo-vertical-musu-performance-blanco.png" alt="Logo" class="estilo-imagen">
        </div>

        <div class="body-form">

          <ion-item>
            <ion-label position="stacked" class="title-label" id="email">Email</ion-label>
            <ion-input type="email" inputmode="email" placeholder="Correo electronico" class="custom-input" [(ngModel)]="email"></ion-input>
          </ion-item>

          <ion-item class="end">
            <ion-label position="stacked" class="title-label">Contraseñaa</ion-label>
            <ion-input type="{{passwordVisible ? 'text' : 'password'}}" placeholder="Contraseña" class="custom-input" [(ngModel)]="password"></ion-input>
            <ion-icon name="{{passwordVisible ? 'eye' : 'eye-off'}}" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
          </ion-item> 
        </div>

        <div class="footer-form">
        
          <div class="fila-form">
            <ion-checkbox class="chkbox-recordar" labelPlacement="end" justify="start">Recordar</ion-checkbox>
            <ion-button  class="btn-olvido" [routerLink]="['/recuperar-password']" fill="clear" >¿Olvido su contraseña?</ion-button>
    
          </div>
    
          <ion-button class="btn-ingresar" [routerLink]="['/home']" [disabled]="!correoValido || !contrasenaValida">Iniciar Sesion</ion-button>
          <ion-button class="btn-registrar" [routerLink]="['/registrarse']" fill="clear">Registrarse </ion-button>
    
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


