

// p{
//     font-size: small;
//     color: gray;
// }

/* TODO: Contenedor Form*/
ion-grid {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    width: 95%;
}


/* TODO: Header Form*/
.titulo-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3rem;
    padding-left: 1rem;
}

.estilo-imagen{
    width: 40%;
}

/* TODO: Cuerpo Form*/
ion-item {
    padding-bottom: 2.5rem;
}

ion-item.end {
    padding-bottom: 0.7rem;
}

.title-label { 
    color: #FF1616;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0 0 0.26rem;
}

.custom-input {
    --highlight-color: red;
    --placeholder-color: gray;
    font-size: 0.8rem;
}

/* TODO: Footer form*/

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 1rem;
}

.fila-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 97%;
}

ion-checkbox {
    --size: 20px;
    --border-radius: 6px;
    --border-color: gray;
    --checkmark-color: white;
    --checkmark-width: 3px;
    --checkbox-background-checked: #fa5b5b;
    --border-color-checked: gray;
    --transition: 0.2s;
    color: black;
    font-size: 15px;
}

.btn-olvido {
    font-size: 15px;
    color: #989EB1;
    font-weight: 500;
}

.btn-ingresar{
    --background: red!important;
    display: block;
    padding: 2rem 0 1.5rem;
    width: 35%;
    text-align: center;
     
}

.btn-registrar{
    font-size: 15px;
    --color: #F85F6A;
    padding: 0;
    margin: 0;

}



