<ion-header [translucent]="true">
  
</ion-header>


<ion-content [fullscreen]="true">

<div class="cont-formulario">

  <div class="titulo-form">
    <h1>Iniciar Sesión</h1>
    <h2>Logo</h2>
  </div>

  <div class="cuerpo-form">

    <ion-input class="estilo-correo"
      type="email"
      label="Email"
      labelPlacement="floating"
      placeholder="Ingresa Usuario">
    </ion-input>

    <ion-input class="estilo-pass"
      type="password"
      label="Contraseña"
      labelPlacement="floating">
    </ion-input>
  </div>

  <div class="footer-form">
    
      <ion-button [routerLink]="['/home']" >Ingresar</ion-button>
      <h5>Olvido la contraseña?</h5>
  </div>

</div>











 
     



</ion-content>
