
.cont-formulario {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 1rem;
}

.titulo-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    color: black;
}


.cuerpo-form {
    display: flex;    //CENTRA COSAS DENTRO DEL ELEMENTO VERTICAL
    justify-content: center; //CENTRA ELEMENTOS
    flex-direction: column;
    width: 100%;
    color: red($color: #000000); 
       
}

.estilo-correo, .estilo-pass{
    color: red;
}

.footer-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1rem 1rem;
}


.boton-ingresar{
    --background: red!important;
    display: block;  
     
}

.boton-recuperar-contraseña {
    position: relative;
    top: -30px;
    right: 10px;
    font-size: 9px;
  }

.fila-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

ion-checkbox {
    --size: 20px;
    --checkbox-background-checked: red;
    color: black;
    position: relative;
    top: -30px;
    right: 15px;
    font-size: 15px;
}
  
ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid gray;
}

.checkbox-wrapper {
    flex-direction: row-reverse;
}

.estilo-imagen{
    width: 40%;
}

.boton-registrarse{
    font-size: 12px;
    --color: gray;
}

.boton-recuperar-contraseña{
    --color: gray;
}

p{
    font-size: small;
    color: gray;
}

ion-card {
    padding: 1rem;
}



.mensaje-validacion {
    margin-top: 15px; /* Espaciado superior para separar del campo de entrada */
  }
  
  .mensaje-error {
    display: flex; /* Usar flexbox para alinear elementos */
    align-items: center; /* Alinear elementos verticalmente al centro */
    background-color: #f8d7da; /* Color de fondo para mensajes de error */
    border: 1px solid #721c24; /* Borde para mensajes de error */
    padding: 1px; /* Espaciado interno para mensajes de error */
    border-radius: 5px;
    margin-bottom: 5PX; /* Borde redondeado para mensajes de error */
  }
  
  .mensaje-icon {
    color: #721c24; /* Color del icono de error */
    font-size: 24px; /* Tamaño del icono de error */
    margin-right: 8px; /* Espaciado derecho para separar el icono del texto */
  }
  
  .mensaje-texto {
    color: #721c24; /* Color del texto de error */
    margin: 0;
    font-size: 10PX; /* Elimina el margen del texto de error */
  }
  
  