<app-header subtitle="A D M I N"></app-header>

<ion-content>
    <div class="d-flex-center">
        <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
            <app-custom-input
                icon="mail-outline"
                label="Email"
                placeholder="Ingrese su correo..."
                type="email"
                [control]="form.controls.email">
            </app-custom-input>
            <div class="validators" *ngIf="form.controls.email.errors">
                <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
                <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo valido</div>
            </div>

            <app-custom-input
                label="Contraseña"
                placeholder="Ingrese su contraseña..."
                type="password"
                icon="lock-closed-outline"
                [control]="form.controls.password">
            </app-custom-input>
            <div class="validators" *ngIf="form.controls.password.errors">
                <div *ngIf="form.controls.password.errors?.['required']">La contraseña es requerida</div>
            </div>

            <a class="custom-link">
                <p routerLink="forgot-password">¿Olvido su contraseña?</p>
            </a>
            
            <ion-button 
                expand="block" 
                mode="ios" 
                class="submit" 
                type="submit"
                [disabled]="form.invalid">Ingresar
                
                
                <ion-icon 
                    slot="end" 
                    name="log-in-outline">
                </ion-icon>
              
            </ion-button>
        
            <ion-button 
                class="ion-margin-top" 
                routerLink="sign-up"
                expand="block"
                mode="ios"
                fill="outline">Registrate
                
                <ion-icon 
                    slot="end" 
                    name="person-add-outline">
                </ion-icon>
              
            </ion-button>
            
        </form>
    </div>
</ion-content>
